* {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.ul-BarraPrincipal{
    background-color: black;
    font-size: 15px;
    list-style: none;
    color: white;
}

header{
    background-color: #eeab2e;
    font-size: 15px;
    color: white;
}

.ul-Menu{
    list-style: none;
    list-style-image: url('../img/HuellitaIndice.png');
}

.Banner{
    position: relative;
    display: inline-block;
    text-align: center;
    background-size: cover;
}

.FondoBlanco{
    background-color: white;
    color: black;
    font-size: 30px;
    position: absolute;
    padding: 1% 2%;
    border-radius: 5px;
    top: 50%;
    left: 55%;
}

.Normal{
    color: black;
    position: absolute;
    top: 63%;
    left: 55%;
    transform: translate(50%, 50%);
}

.FondoNaranja{
    background-color: #eeab2e;
    color: white;
    position: absolute;
    padding: 1% 2%;
    border-radius: 5px;
    top: 73%;
    left: 67%;
}

.Productos{
    text-align: center;
}

.Negrilla{
    font-weight: bold;
    font-size: 40px;
    color: #5b1f00;
}

.Gris{
    color: rgb(146, 146, 146);
}

.Precios{
    color: #eeab2e;
}

.FooterCafe{
    background-color: #5b1f00;
}

.Principal{
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.Secundario{
    color: rgb(146, 146, 146);
    font-size: 5px;
}

.LogosFinales{
    width: 3%;
}

.CatDogFinal{
    width: 20%;
}

.FooterNaranja{
    background-color: #eeab2e;
    color: white;
    font-weight: bold;
}

.FooterNegro{
    background-color: black;
    color: white;
    padding: 0.3%;
    font-size: 10px;
}